.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* section hero */
.hero__wrapper {
    border-radius: 40px;
    padding: 100px;
    position: relative;
    overflow: hidden;
}

.hero__video {
    position: absolute;
    inset: 0;
    /* top/right/bottom/left: 0 */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ключевое — не искажает пропорции */
    z-index: -2;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 530px;
}

.hero__title {
    color: var(--text-inverse);
}

.hero__title span {
    color: var(--text-accent);
}

.hero__sub-title {
    color: var(--text-inverse);
}

.hero__btn {
    padding: 20px 70px;
    background-color: var(--text-inverse);
    border-radius: 100px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero__btn img {
    flex-shrink: 0;
    width: 0;
    height: 20px;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.hero__btn:hover img {
    width: 20px;
    opacity: 1;
}

.favorite__wrapper {
    display: flex;
    gap: 40px;

    flex-direction: column;
    align-items: center;
    text-align: center;
}



/* section favorite */

.favorite__slider-controls {
    display: flex;
    justify-content: center;
    gap: 12px;

}

.slider-controls__dot {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: var(--border-primary);

    &:hover {
        background-color: var(--text-accent);
    }

    &.is-active {
        background-color: var(--border-inverse);
    }
}

.favorite__slider {
    display: flex;
    gap: 40px;
    align-items: center;
}

.favorite__slider-row {
    display: flex;
    justify-content: center;
    width: 1152px;
}

.favorite__btn {
    border: 1px solid var(--border-inverse);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border-inverse);
    transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out;

    &:hover {
        border: none;
        background-color: var(--bg-container);
        color: var(--text-inverse);
    }
}




.favorite__article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article__content img {
    max-width: 480px;
}

.article__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 480px;
    width: 100%;

    align-items: center;
    text-align: center;
}